
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1465401180489-ceb5a34d8a63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2942&q=80);">
  <div class="container">
    <h1><strong>Fune</strong></h1>
    <p>Change your life browsing the world.</p>
    <%= link_to "List of Ships:", ships_path, class:"btn btn-light"%>
  </div>
</div>

<div class="container">
  <h3 class= "subtitle-homepage">Explore new places</h3>
  <div class="country-cards-padre">
    <div class="homepage-cards">
      <%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726012445/Lima.jpg", style:"height: 80px; width: 60px; margin-left: 5px", class:"rounded"%>
      <a href="/ships?country=Peru"><h5>Lima,<strong> Perú</strong>.</h4></a>
    </div>

    <div class="homepage-cards">
      <%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726027951/146704_twrbyy.jpg", style:"height: 80px; width: 60px; margin-left: 5px",class:"rounded" %>
      <a href="/ships?country=Argentina"><h5>Bariloche,<strong> Argentina</strong>.</h5></a>
    </div>

    <div class="homepage-cards">
      <%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028276/images_kcmst6.jpg", style:"height: 80px; width: 60px; margin-left: 5px",class:"rounded" %>
     <a href="/ships?country=Ecuador"><h5>Galapagos,<strong> Ecuador</strong>.</h5></a>
    </div>

    <div class="homepage-cards">
      <%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028322/tsxwlisx3nchb523bvgh.jpg", style:"height: 80px; width: 60px; margin-left: 5px",class:"rounded" %>
      <a href="/ships?country=Brazil"><h5>Río de Janeiro,<strong> Brazil</strong>.</h5></a>
    </div>

    <div class="homepage-cards">
      <%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028403/images_zqewhv.jpg", style:"height: 80px; width: 60px; margin-left: 5px",class:"rounded" %>
      <a href="/ships?country=Colombia"><h5>Buenaventura,<strong> Colombia</strong>.</h5></a>
    </div>

    <div class="homepage-cards">
      <%= image_tag "https://images.squarespace-cdn.com/content/v1/52efc94ae4b01409c74273d6/1585760486953-KVGMFRIB0WUT0KZ3UEA5/montevideo_grande.jpg", style:"height: 80px; width: 60px; margin-left: 5px",class:"rounded" %>
      <a href="/ships?country=Uruguay"><h5>Montevideo,<strong> Uruguay</strong>.</h5></a>
    </div>
  </div>

</div>

<div class="container">
  <h3 class= "subtitle-homepage">Travel depending on your needs</h3>
    <div class="cards-type-ships-padre">
      <div class="card-type-ship">
        <a href="/ships?ship_type=fishing"><%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028644/fishing.jpg", style:"height: 300px; width: 300px; border-radius: 12px" %>
        <h5>Fishing</h5></a>
      </div>
      <div class="card-type-ship">
        <a href="/ships?ship_type=tourism"><%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028722/tourism.jpg", style:"height: 300px; width: 300px; border-radius: 12px" %>
        <h5>Tourism </h5></a>
      </div>
      <div class="card-type-ship">
        <a href="/ships?ship_type=diving"><%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028778/diving.jpg", style:"height: 300px; width: 300px; border-radius: 12px" %>
        <h5>Diving</h5></a>
      </div>
      <div class="card-type-ship">
        <a href="/ships?ship_type=party"><%= image_tag "http://habituallychic.luxury/wp-content/uploads/sites/2/2015/06/grand-banks-nyc-2015-habitually-chic-002.jpg", style:"height: 300px; width: 300px; border-radius: 12px" %>
        <h5>Party</h5></a>
      </div>
      <div class="card-type-ship">
        <a href="/ships?ship_type=leisure"><%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028831/leisure.webp", style:"height: 300px; width: 300px; border-radius: 12px" %>
        <h5>Leisure </h5></a>
      </div>
      <div class="card-type-ship">
        <a href="/ships?ship_type=sight-seeing"><%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028896/Seine_20River_20Sightseeing_20Cruise_20in_20Paris_20by_20Bateaux-Mouches_ei9thy.jpg", style:"height: 300px; width: 300px; border-radius: 12px" %>
        <h5>Sight-seeing</h5></a>
      </div>
    </div>
</div>


<div class="container mini-banner-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1633466855/nick-karvounis-keLEfEdxXYc-unsplash_ec0ghs.jpg); height: 500px; width: 1100px; border-radius: 12px">
  <div class="promotion-banner-capitan">
    <h5>Be the captain of the ship</h5>
    <p>Share your boat to earn extra money and enjoy new opportunities</p>
    <button type="button" class="btn btn-light">More information</button>
  </div>
</div>


<div class="container">
  <h3 class= "subtitle-homepage">Best Experiencies </h3>
    <div class="best-expericies-cards">
      <div class="card-trip">
        <img src="https://res.cloudinary.com/dknqzlcaq/image/upload/v1726028990/new%20experiences.webp" />
        <div class="card-trip-infos">

          <%= link_to ships_path do %>
          <div>
            <h2>New experiencies</h2>
            <p>Find unforgettable experiences near you!</p>
          </div>
            <% end %>
        <h2 class="card-trip-pricing">NEW</h2>
        <i class="fas fa-angle-up" class="card-trip-user avatar-bordered"></i>
        </div>
    </div>

    <div class="card-trip">
      <img src="https://res.cloudinary.com/dknqzlcaq/image/upload/v1726029079/images_gekanj.jpg" />
      <div class="card-trip-infos">
        <div>
          <a href="/ships?location"><h2>Best places</h2>
          <p>The best places for an extraordinary adventure!</p></a>
        </div>
    <h2 class="card-trip-pricing">NEW</h2>
    <i class="fas fa-angle-up" class="card-trip-user avatar-bordered"></i>
  </div>
</div>

    <div class="card-trip">
      <img src="https://res.cloudinary.com/dknqzlcaq/image/upload/v1726029163/i%20am%20the%20captain.jpg" />
      <div class="card-trip-infos">
        <div>
          <a href=""><h2>Be the Capitain</h2>
          <p>The best places for an extraordinary adventure!</p></a>
        </div>
    <h2 class="card-trip-pricing">NEW</h2>
    <i class="fas fa-angle-up" class="card-trip-user avatar-bordered"></i>
  </div>
  </div>
</div>



<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2021 Fune Company, Inc</p>

  <%= image_tag "https://res.cloudinary.com/dknqzlcaq/image/upload/v1726012167/Fune_lpcqim.png", style:"height: 60px; width: 55px; margin-left: 5px" %>


    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
</div>
