
<div class="d-flex justify-content-center ">
  <div class="col6">


  <% if !current_user.owner? %>
    <% @reservations_as_customer.each do |reservation| %>


      <%# link hacia la reservacion  %>
      <%# inicio del card %>
      <div class="ship-card mt-3">
        <%=  cl_image_tag reservation.ship.images.all.first.key if !reservation.ship.images.first.nil?%>
        <div class="card-ship-info">
          <h2> <%=reservation.ship.name  %> </h2>
          <hr>
          <p><strong><%= reservation.people_in_reservation %></strong> <%= reservation.people_in_reservation > 1 ? "passengers" : "passenger"  %> in the reservation!</p>
          <p>Total price $<%= reservation.price %></p>
          <p><%= reservation.invoice.nil? ? "waiting for confirmation" : "Reservation confirmed!"%></p>
        </div>
      </div>
      <%# fin del card %>


    <% end %>

  <% else %>
    <% @reservations_as_owner.each do |reservation| %>


      <%# link hacia la reservacion  %>
      <%# inicio del card %>
      <div class="ship-card mt-3">
        <%=  cl_image_tag reservation.ship.images.all.first.key if !reservation.ship.images.first.nil?%>
        <div class="card-ship-info ">
          <div class="d-flex justify-content-between">
            <h2 class="pb-0 mb-0"> <%=reservation.ship.name  %> </h2>
            <p class="mt-3 btn btn text-primary"><%= reservation.invoice.nil? ? "waiting for confirmation" : "Reservation confirmed!"%></p>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <p><strong><%= reservation.people_in_reservation %></strong> <%= reservation.people_in_reservation > 1 ? "passengers" : "passenger"  %> in the reservation!</p>
              <p>Total price $<%= reservation.price %></p>
            </div>
            <div class="col">
              <p><strong>from</strong><%= reservation.reservation_start  %></p>
              <p><strong>to</strong><%= reservation.reservation_end  %></p>
            </div>
          </div>

        </div>
      </div>
      <%# fin del card %>


    <% end %>
  <% end %>
  </div>
</div>
